.reg {
    background-color: #fff;
    height          : 100%;

    a {
        color: #009A61;
    }
}

.agree {
    font-size: 14px;
}

.isdisable {
    background: #ccc;

    span {
        color: #000;
    }
}